<input type="text" placeholder="Title" [(ngModel)]="title" />
<textarea rows="5" placeholder="Description" [(ngModel)]="description"></textarea>
<button [disabled]="!canSubmit()" (click)="submit()">Submit</button>
