:host {
  display: flex;
  flex-direction: column;
  position: relative;

  input,
  textarea {
    width: 20rem;
    padding: 1rem;
    background: #f8fafc;
    border-radius: 4px;
    resize: none;
  }

  button {
    position: absolute;
    right: -5%;
    bottom: -5%;
    padding: 0.5rem;
    color: white;
    background-color: lightseagreen;
    border: 1px solid rgb(32, 178, 170);
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;

    &[disabled] {
      background-color: gray;
      border: 1px solid gray;
      cursor: unset;
    }
  }
}
