:host {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: white;
  border-radius: 0.75rem;
  color: black;
  width: 20rem;

  span {
    position: absolute;
    left: 2%;
    top: 2%;
    color: lightslategrey;
    font-weight: bold;
  }

  input {
    position: absolute;
    right: 2%;
    width: 2rem;
    height: 2rem;
    top: 2%;
  }

  button {
    margin-top: auto;
    cursor: pointer;
    background-color: lightseagreen;
    border: 1px solid lightseagreen;
    color: white;
    font-weight: bold;
    height: 2rem;
    border-radius: 1rem;
    width: 50%;

    &:hover {
      background-color: white;
      border: 1px solid lightseagreen;
      color: lightseagreen;
    }

    &[disabled] {
      background-color: gray;
      border: 1px solid gray;
      color: white;
      cursor: unset;
      width: 100%;
    }
  }
}
