<span>{{ todo.id }}</span>
<input type="image" alt="Delete button" src="assets/delete.svg" (click)="deleteclick.emit()" />

<h2>{{ todo.title }}</h2>

<p>{{ todo.description }}</p>

<button [disabled]="todo.isCompleted" (click)="completeclick.emit()">
  {{ todo.isCompleted ? 'TODO completed' : 'Complete' }}
</button>
