@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

body {
  background-color: #2d2d2d;
  font-family: 'Nunito', sans-serif;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}
